<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation = "urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for = "Magento\Sales\Block\Order\History" type = "Appseconnect\Salesorderhistory\Block\Order\History" />

    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="exampleSayHello" xsi:type="object">Appseconnect\SalesOrderItem\Console\Sayhello</item>
            </argument>
        </arguments>
    </type>
</config>

